@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');


/*  ANIMAÇÃO DO TEXTO */
.digital-type {
  display: inline-block; 
  overflow: hidden;
  border-right: 2px solid #f472b6; 
  white-space: nowrap;
  vertical-align: middle; 
  width: 280px; 
  
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 280px } 
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f472b6; }
}

/* EFEITO DO CURSOR */
.cursor-follow {
  position: fixed;
  width: 40px; 
  height: 40px;
  background-color: rgba(244, 114, 182, 0.2);
  border: 1px solid rgba(244, 114, 182, 0.4); 
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  transition: transform 0.1s ease-out; 
  z-index: 9999;
  mix-blend-mode: multiply; 
}

body, a, button {
  cursor: none !important;
}

/*  ANIMAÇÃO DO TEXTO  */
.digital-type {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #f472b6;
  animation: 
    typing 3s steps(31, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 31ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f472b6; }
}

/* ESTILO EXTRA PARA O TÍTULO */
h1 {
  -webkit-text-stroke: 1px #f472b6;
  paint-order: stroke fill;
}